@media(min-width: 0px) and (max-width: 599px) {
    /*INDEX*/
        .index-grid {
            display: grid;
            grid-template-rows: 20vh 10vh auto auto 50px;
            grid-template-columns: 1fr;
            grid-template-areas: "a" "nav" "b" "sidebar" "c";
        }

        .index-header {
            grid-area: a;
            margin-bottom: 2px;
        }

        .navbar {
            grid-area: nav;
        }

        .index-sidebar {
            grid-area: sidebar;
        }

        .sidebar-list {
            grid-area: b;
            display: flex;
            flex-direction: row;
        }

        .index-footer {
            grid-area: c;
            margin-top: 2px;
        }

    /* Nested grid for index */
        .body {
            grid-area: b;
            display: grid;
            grid-template-rows: auto auto auto;
            grid-auto-flow: row;
            grid-row-gap: 4px;
            grid-template-areas:
            "card1" 
            "card2" 
            "card3"
            "card4" 
            "card5" 
            "card6"  
        }

        .card-one {
            grid-area: card1;
        }

        .card-two {
            grid-area: card2;
        }

        .card-three {
            grid-area: card3;
        }

        .card-four {
            grid-area: card4;
        }

        .card-five {
            grid-area: card5;
        }

        .card-six {
            grid-area: card6;
        }

 /*BLOG-POST*/   
        .blog-post-grid {
            display: grid;
            grid-template-rows: 20vh 10vh auto auto auto auto 50px;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "phead"
            "nav"
            "art"
            "author"
            "social"
            "sidebar"
            "pfoot";
        }

        .post-header {
            grid-area: phead;
        }

        .navbar {
            grid-area: nav;
        }
   
        .author {
            grid-area: author;
        }
    
        .social {
            grid-area: social;
        }
    
        .article {
            grid-area: art;
        }

        .sidebar {
            grid-area: sidebar;
        }
    
        .post-footer {
            grid-area: pfoot;
        }
/*Nested grid scoial media*/
        .social {
            display: grid;
            padding: 5px;
            grid-template-rows: 70px;
            grid-template-columns: repeat(5, 1fr);
            grid-auto-flow: column;
            align-items: center;
            grid-template-areas: 
            "follow sm1 sm2 sm3 sm4"
        }
    
        .smessage {
            grid-area: follow;
        }
    
        #sm1 {
            grid-area: sm1;
        }
    
        #sm2 {
        grid-area: sm2;
        }
    
        #sm3 {
            grid-area: sm3;
        }
    
        #sm4 {
            grid-area: sm4;
        }
}
